<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://www.buytshirtdesigns.net/wp-content/uploads/2019/12/Untitled-1-138-800x800.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active white">
        <a class ="icon" href="https://github.com/RenGVZ"><i class="fab fa-github"></i></a>
      </li>
      <li class="nav-item">
        <a class="icon" href="https://www.linkedin.com/in/gavin-garza-368833190/"><i class="fab fa-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a class="icon" href="https://www.instagram.com/gavinrene/"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://clipart4biz.com/images/logo-vector-star-wars-4.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
